<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поисковая система</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-light bg-body-tertiary">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Поисковая система</span>
      </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form action="/" method="post" class="d-flex">
                    <div class="form-outline me-2" data-mdb-input-init>
                        <input type="text" name="query" id="formControlLg" value="{{ query }}" class="form-control form-control-lg" />
                        <label class="form-label" for="formControlLg">Введите ваш запрос</label>
                    </div>
                    <button class="btn btn-primary">Найти</button>
                </form>
            </div>
            <div class="col-12 mt-4">
                <ul class="list-group list-group-light">
                    {% for url, score in results %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url }}">{{ url }}</a>
                            <span class="badge badge-primary rounded-pill">{{ score }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
</body>
</html>
